<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h3 class="text-light">Product</h3>
        <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clickAdd()">
            <b>+ </b>
            Add New Product
        </button>
    </div>
</nav>

<table class="table text-center mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Picture</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of employeeData">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td><img src="{{data.picture}}" width="auto" height="200"></td>
            <td>{{ data.price }}</td>
            <td>{{ data.stock }}</td>
            <td>
                <button class="btn btn-danger me-3" (click)="deleteEmployee(data.id)">Delete</button>
                <button class="btn btn-info text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clickEdit(data)">Update</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEmployee">
          Name
          <input type="text" class="form-control" formControlName="name">
          Picture (URL)
          <input type="text" class="form-control" formControlName="picture">
          Price
          <input type="text" class="form-control" formControlName="price">
          Stock
          <input type="text" class="form-control" formControlName="stock">
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
        <button type="button" class="btn btn-primary" (click)="postEmployee()" *ngIf="showAdd">Save</button>
        <button type="button" class="btn btn-info text-light" (click)="updateEmployee()" *ngIf="showUpdate">Update</button>
      </div>
    </div>
  </div>
</div>